
.inline {
    display: inline;
    background-color: rgb(129, 224, 255);
    padding: 10px;
    margin: 2px;
}
.block-element {
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin: 5px 0;
}